.form-container {
  width: 25%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(170, 25, 227);
  box-shadow: -2px 0px 6px 0px fuchsia;
  border-radius: 30px;
  background: radial-gradient(circle at center, purple, fuchsia, #994bec), 100%;
}

.submit-label {
  padding-bottom: 10px;
  font-family: fantasy;
  font-size: 1.5rem;
  font-weight: 700;
}

.buttons {
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.submit-button,
.clear-button {
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  border-radius: 20px;
  background-color: #D697FF;
  box-shadow: -2px 0px 6px 0px fuchsia;
}

.submit-button:hover,
.clear-button:hover {
  border: fuchsia;
  cursor: pointer;
}