.form-container {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  border: 2px solid rgb(170, 25, 227);
  box-shadow: -2px 0px 6px 0px fuchsia;
  border-radius: 20px;
  background: radial-gradient(circle at center, purple, fuchsia, #994bec), 100%;
}

.form-content {
  box-sizing: border-box;
  width: 60%;
  display: flex;
}

.css-b62m3t-container {
  position: relative;
  box-sizing: border-box;
  margin: 0px 15px;
  width: 40%;
}

.react-select__control {
  width: 100%;
}

.react-select__control:hover {
  cursor: pointer;
}

.react-select__value {
  width: 100%;
}

.submit-label {
  align-self: center;
  align-content: center;
  font-family: fantasy;
  font-size: 1.25rem;
  font-weight: 700;
}

.submit-button,
.clear-button {
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  border-radius: 20px;
  background-color: #D697FF;
  box-shadow: -2px 0px 6px 0px fuchsia;
}


.submit-button:hover,
.clear-button:hover {
  box-sizing: border-box;
  border-color: fuchsia;
  cursor: pointer;
}