.movie-list {
  display: flex;
  background-color: #D697FF;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-form {
  width: 100%;
  box-sizing: border-box;
  padding-left: 18px;
}

.display-styling {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: right;
}