
.movie-detail-display {
  display: flex;
  
  font-family: fantasy;
  font-size: x-large;
  background: radial-gradient(circle at center,purple, fuchsia, #994bec), 100%;
  padding: 10px;
  height: 15%;
  margin: 10px;
  border: 2px solid rgb(170, 25, 227);
  box-shadow: -2px 0px 6px 0px fuchsia;
  border-radius: 30px;
}
.detail-bottom {
  margin: 20px;
  padding-left: 20px;
  background-color: rgba(214, 151, 255, 0.3);
  border-radius: 30px;
}

.return-button {
  height: 50px;
  font-size: larger;
}
.movie-detail-img {
  margin-top: 25px;
  height: 600px;
  box-shadow: -2px 0px 6px 0px fuchsia;
}