
.movie-card {
  display: flex;
  font-family: fantasy;
  font-size: x-large;
  background: radial-gradient(circle at center,purple, fuchsia, #994bec), 100%;
  flex-direction: column;
  padding: 10px;
  height: 15%;
  width: 15%;
  margin: 10px;
  border: 2px solid rgb(170, 25, 227);
  box-shadow: -2px 0px 6px 0px fuchsia;
  border-radius: 30px;
}

img {
  height: 50%;
  border-radius: 30px;
}

p {
  font-size: xx-large;
  font-weight: 800;
}



